/__pycache__/
/leg-1/
/leg-2/
/model/
/log/
/logs/
/runs/
/.vscode/
/Eigen/
env/__pycache__/*
env/pleg/__pycache__/*
env/pleg/envs/__pycache__/*
env/pleg.egg-info/*
wyf-pleg.zip
s-wyf-pleg.zip
v-wyf-pleg.zip
ddpg_pendulum.zip
demo.py
genericlogdata.bin
my_ddpg.py
my_ppo2.py
ppo_train.py
helper.py
memory_collector.py
v_argument.py
v_test.py
wrappers.py
modelvec_normalize.pkl
d_test.out
